<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/profile.css">
    <title>Yorkut</title>
</head>
<body>
    <div id="container">
        <div id="sidebar">
            <div id="options">
                <img src="/img/logo.png" alt="logo">
                <a href="/home/<%= id %>">Inicio</a>
                <a href="/profile/<%= id %>">Perfil</a>
                <a href="/friendreq/<%= id %>">Pedidos de amizade</a>
                <!-- <a href="">Solicitações de grupo</a> -->
                <a href="/">Sair</a>
            </div>
        </div>
    
        <div id="profile">
            <div id="user">
                <img src="/img/user.png">
                
                <p>ID: <%= id %></p>
                <p>Nome: <%= name %></p>
                <p>Senha: <%= password %></p>
            </div>
        </div>
        <div id="areas">
            <div id="amigos">
                <h1></h1>
                <% if (typeof msg === 'string') {%>
                    <p><%= msg %></p>
                <%}%>
                <form action="/profile/<%= id %>/searchfriend" method="post">
                    <input type="text" name="username">
                    <button>Adicionar</button>
                </form>
                <div id="userlist">
                    <% if (flist) {%>
                        <% for(i=0; i<flist.length; i++){%>
                            <div class="friend" id="friend<%=i%>">
                                <a href="/home/<%= id %>/?friend=<%= flist[i].id %>"><%= flist[i].name %></a>
                                <form action="/profile/<%= id %>/removeFriend/?friend=<%= flist[i].id %>" method="post">
                                    <button>Remover</button>
                                </form>
                            </div>
                        <% } %>
                    <% } else { %>
                        <p>Não há amigos disponíveis!</p>
                    <% } %>
                </div>
            </div>
            <!-- <div id="grupos">
                <form>
                    <input type="text" name="groupname">
                    <button>Entrar</button>
                </form> 
                <div id="grouplist">

                </div>

                <div id="func">
                    <a href="">Criar grupo</a>
                </div>
            </div> -->
        </div>
    </div>
</body>
</html>